Html {
    Background-color: blanchedalmond;

    width: 800px;
}

.contentcontainer {
    margin-left: 160px;
    transition: 0.5s;
    margin-top: 100px;
    background-color: rgb(155, 235, 255);
    width: 600px;
    height: 675px;
    border-radius: 18px;
    margin-right: 300px;
}

.content {
    font-size: 26px;
    margin-left: 140px;
}

.sidebar {
    background-color: rgb(186, 220, 248);
    width: 300px;
    left: -240px;
    height: 100%;
    position: fixed;
    transition: 0.5s;
}

.sidebar:hover {
    background-color: rgb(162, 176, 240);
    left: 0;
}

.sidebar:hover + .contentcontainer {
    margin-left: 350px;
}



.topbar {
    margin-top: 40px;
    margin-bottom: 40px;
}

.topbar-title {
    font-size: 50px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.topbar-title:hover {
    background-color: rgb(190, 130, 247);
    font-size: 60px;
}

.button {
    background-color: rgb(133, 175, 238);
    border: 0;
    border-radius: 10px;
    font-size: 26px;
    height: 80px;
    width: 300px;
    transition: 0.3s;
}

.button:hover {
    background-color: rgb(76, 137, 252);
    width: 320px;
    height: 100px;
    margin-left: -9px;
}

.button:active {
    background-color: rgb(115, 115, 223);
    box-shadow: 0 0 ;
}

.sidebarcontent {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    font-size: 26px;
}


.file {
    border-bottom: 1px solid;
    color: black;
    margin-top: 5px;
    text-decoration: none;
    border-bottom: 0;
    transition: 0.3s;
}

.file:hover {
    background-color: rgb(157, 73, 235);
    
}
